.banner{
    background-image: url('../images/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.banner > .container > div {
    vertical-align: middle;
}
.fullWidth{
    color: black;
    width:100%;
    margin-left:0;
    margin-right:0;
    padding-left:0;
    padding-right:0;
    display:block;
    text-align:center; /*This will result in centering the link text, which is probably what you want -brianjohnsondesign.com*/
}
.ourNav{
    border-radius: 10px;
    background-color: white;
}
.shiftUp{
    margin-top: -20px;
}
.Sacramento{
    font-family: 'Sacramento', cursive;
}
.Homemade{
    font-family: 'Homemade Apple', cursive;
}

/*
font-family: 'Sacramento', cursive;
font-family: 'Homemade Apple', cursive;
font-family: 'Fredericka the Great', cursive;
font-family: 'Lily Script One', cursive;
font-family: 'Oleo Script Swash Caps', cursive;
*/