.banner{
    background-image: url('../images/hero5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.fullWidth{
    color: black;
    width:100%;
    margin-left:0;
    margin-right:0;
    padding-left:0;
    padding-right:0;
    display:block;
    text-align:center; /*This will result in centering the link text, which is probably what you want -brianjohnsondesign.com*/
}
.ourNav{
    border-radius: 10px;
    background-color: white;
}
.shiftUp{
    margin-top: -20px;
}
.Caveat{
    font-family: 'Caveat', cursive;
}
.Dancing{
    font-family: 'Dancing Script', cursive;
}
.Fredericka{
    font-family: 'Fredericka the Great', cursive;
}
.Gochi{
    font-family: 'Gochi Hand', cursive;
}
.Homemade{
    font-family: 'Homemade Apple', cursive;
}
.Lobster{
    font-family: 'Lobster', cursive;
}
.Marcellus{
    font-family: 'Marcellus SC', serif;
}
.Oranienbaum{
    font-family: 'Oranienbaum', serif;
}
.Pacifico{
    font-family: 'Pacifico', cursive;
}
.Permanent{
    font-family: 'Permanent Marker', cursive;
}
.Sacramento{
    font-family: 'Sacramento', cursive;
}
.Playfair{
    font-family: 'Playfair Display', serif;
}
.Great{
    font-family: 'Great Vibes', cursive;
}
.Cookie{
    font-family: 'Cookie', cursive;
}
.PlayfairSC{
    font-family: 'Playfair Display SC', serif;
}
.Alice{
    font-family: 'Alice', serif;
}
.Reenie{
    font-family: 'Reenie Beanie', cursive;
}
.Berkshire{
    font-family: 'Berkshire Swash', cursive;
}