body, html {
    height: 100%;
}
h2 {
    margin-top: 0;
}
.banner {
    background-image: url('../images/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
}
.hero-text{
    padding-top: 25%;
    font-size: 56px;
    text-shadow: 2px 2px black;
}
.banner > .container > div {
    vertical-align: middle;
}
.title {
    padding-top: 25vh;
    color: white;
}
.fullWidth{
    color: black;
    width:100%;
    margin-left:0;
    margin-right:0;
    padding-left:0;
    padding-right:0;
    display:block;
    text-align:center; /*This will result in centering the link text, which is probably what you want -brianjohnsondesign.com*/
}
.ourNav{
    border-radius: 10px;
    background-color: white;  
}
.shiftUp{
    margin-top: -25px;
}
.hoverable > a.active {
    font-weight: bold;
    border-bottom: 1px solid black;
}

@media only screen and (max-width: 375px) {
    .ourNav {
        font-size: 10px;
    }
    .hoverable {
        display: inline-block;
    }
    .fullWidth {
        white-space: nowrap;
    }
}
.Oleo{
    font-family: 'Oleo Script Swash Caps', cursive;
}
.Megrim{
    font-family: 'Megrim', cursive;
}
.Monsieur{
    font-weight: 300;
    font-family: 'Monsieur La Doulaise', cursive;
}
.Sarina{
    font-family: 'Sarina', cursive;
}
.Permanent{
    font-family: 'Permanent Marker', cursive;
}
.Slabo{
    font-family: 'Slabo 27px', serif;
}

@media only screen and (max-width: 440px){
    .ourNav {
        font-size: 13px;
    }
}

@media only screen and (max-width: 417px){
    .ourNav {
        font-size: 12px;
    }
}

@media only screen and (max-width: 394px){
    .ourNav {
        font-size: 11px;
    }
}

@media only screen and (max-width: 371px){
    .ourNav {
        font-size: 10px;
    }
}

@media only screen and (max-width: 348px){
    .ourNav {
        font-size: 9px;
    }
}
@media only screen and (max-width: 324px){
    .ourNav {
        font-size: 8px;
    }
}